/*
Xflytools version 0.1.0
This is the general stylesheet for the main window
 */

/* GENERAL */

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.button {
    -fx-background-insets: 0;
}

.toggle-button {
    -fx-background-insets: 0;
}

#background {
    -fx-background-color: #323232;
}

.general-label {
    -fx-text-fill: #B1B4B5;
}

/* IP ADDRESS FIELD */

#ipaddress {
    -fx-background-color: #31353D;
    -fx-text-fill: #B1B4B5;
}

/* RADIO LABELS, FIELDS and BUTTON */

.radio-label {
    -fx-background-color: #323232;
    -fx-text-fill: #FFC076;
    -fx-column-halignment: left;
    -fx-max-width: 80px;
    -fx-font-size: 15px;
}

.radio-field {
    -fx-background-color: #323232;
    -fx-text-fill: #FFA031;
    -fx-max-width: 80px;
    -fx-font-size: 15px;
}

.swap-button {
    -fx-base: #424242;
    -fx-text-fill: #B1B4B5;
    -fx-column-halignment: center;
}


/* MENUS */

.menu-bar {
    -fx-background-color: #262626;
}

.menu .label {
    -fx-text-fill: #B1B4B5;
}

/* COMBO BOXES */

.combo-box {
    -fx-background-color: #31353D;
}

.combo-box .list-cell {
    -fx-background-color: #31353D;
    -fx-text-fill: #B1B4B5;
}

.combo-box-popup .list-view{
    -fx-background: #323232;
    -fx-text-fill: #B1B4B5;
}

/* TOGGLE BUTTONS */

.light-toggle-button {
    -fx-base: #424242;
    -fx-text-fill: #FFF3D0;
    -fx-column-halignment: center;
    -fx-background-radius: 8px;
}

.light-toggle-button:selected {
    -fx-base: #F0C755;
    -fx-text-fill: #1C1C1C;
}

.light-toggle-button:hover {
    -fx-base: #444444;
    -fx-text-fill: #B1B4B5;
}

/* AUTOPILOT */

.ap-labels {
    -fx-background-color: #323232;
    -fx-text-fill: #7ECEFD;
    -fx-font-size: 16px;
}

.ap-fields {
    -fx-background-color: #31353D;
    -fx-max-width: 60px;
}

.ap-field-button {
    -fx-base: #424242;
    -fx-text-fill: #B1EFFF;
}
.ap-buttons {
    -fx-base: #424242;
    -fx-text-fill: #B1EFFF;
    -fx-column-halignment: center;
    -fx-background-radius: 8px;
}

.ap-buttons:selected {
    -fx-base: #62DEFF;
    -fx-text-fill: #1C1C1C;
}

.ap-buttons:hover {
    -fx-base: #444444;
    -fx-text-fill: #B1B4B5;
}

#aptogglebtn {
    -fx-font-size: 12px;
}

#aptogglebtn:selected {
    -fx-text-fill: #900B0A;
    -fx-font-weight: bold;
}

/* CONNECT LABEL and TOGGLE BUTTON*/

#toggleConnect {
    -fx-base: #424242;
    -fx-text-fill: #B1B4B5;
}

#toggleConnect:hover {
    -fx-base: #444444;
    -fx-text-fill: #B1B4B5;
}

#toggleConnect:selected {
    -fx-base: #689F38;
    -fx-text-fill: #1C1C1C;
}

/* BARO */

.baro-field {
    -fx-background-color: #31353D;
    -fx-text-fill: #FFA031;
    -fx-font-size: 15px;
}

.baro-button {
    -fx-base: #424242;
    -fx-text-fill: #B1EFFF;
    -fx-max-width: 26px;
    -fx-max-height: 20px;
    -fx-font-size: 7px;
}

