/*
Xflytools version 0.1.0
This is the general stylesheet for the main window
 */

/* GENERAL */

#background {
    -fx-background-color: #323232;
}

.menu-bar {
    -fx-background-color: #262626;
}

.label {
    -fx-text-fill: #B1B4B5;
}

.menu .label {
    -fx-text-fill: #B1B4B5;
}
/* TOGGLE BUTTONS */

.toggle-button {
    -fx-base: #424242;
    -fx-text-fill: #B1B4B5;
    -fx-focus-color: transparent;
    -fx-faint-focus-colo: transparent;
}

/*
.toggle-button:selected {
    -fx-base: #F0C755;
    -fx-text-fill: #1C1C1C;
}
 */

.toggle-button:hover {
    -fx-base: #444444;
    -fx-text-fill: #B1B4B5;
}

/* CONNECT LABEL and TOGGLE BUTTON*/

#connect {
    -fx-background-color: #303030;
}

#toggleConnect {
    -fx-base: #424242;
    -fx-text-fill: #B1B4B5;
    -fx-focus-color: transparent;
    -fx-faint-focus-colo: transparent;
}

#toggleConnect:hover {
    -fx-base: #444444;
    -fx-text-fill: #B1B4B5;
}

#toggleConnect:selected {
    -fx-base: #689F38;
    -fx-text-fill: #1C1C1C;
}
